# Data Transform

In this notebook, we will ask you a series of questions to evaluate your findings from your EDA. Based on your response & justification, we will ask you to also apply a subsequent data transformation. 

If you state that you will not apply any data transformations for this step, you must **justify** as to why your dataset/machine-learning does not require the mentioned data preprocessing step.

The bonus step is completely optional, but if you provide a sufficient feature engineering step in this project we will add `1000` points to your Kahoot leaderboard score.

You will write out this transformed dataframe as a `.csv` file to your `data/` folder.

**Note**: Again, note that this dataset is quite large. If you find that some data operations take too long to complete on your machine, simply use the `sample()` method to transform a subset of your data.

In [7]:
import pandas as pd
import numpy as np

## Q1

Does your model contain any missing values or "non-predictive" columns? If so, which adjustments should you take to ensure that your model has good predictive capabilities? Apply your data transformations (if any) in the code-block below.

Answer here

In [16]:
# Load the dataset
transactions = pd.read_csv("../data/bank_transactions.csv")

# Check for missing values
missing_values = transactions.isnull().sum()
print("Missing values per column:")
print(missing_values)

# Drop non-predictive identifier columns
transactions = transactions.drop(columns=['nameOrig', 'nameDest'])

# Save the cleaned dataset
transactions.to_csv("../data/cleaned_transactions.csv", index=False)

# Preview
transactions.head()

Missing values per column:
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,PAYMENT,983.09,36730.24,35747.15,0.00,0.00,0,0
1,PAYMENT,55215.25,99414.00,44198.75,0.00,0.00,0,0
2,CASH_IN,220986.01,7773074.97,7994060.98,924031.48,703045.48,0,0
3,TRANSFER,2357394.75,0.00,0.00,4202580.45,6559975.19,0,0
4,CASH_OUT,67990.14,0.00,0.00,625317.04,693307.19,0,0

There are no missing values in the dataset, as confirmed by the .isnull().sum() check. All columns returned 0 for missing entries. However, the columns nameOrig and nameDest serve only as unique identifiers and do not provide useful predictive features for fraud detection. They were therefore dropped to prevent noise in the model training process. The cleaned dataset was saved for further analysis.

## Q2

Do certain transaction types consistently differ in amount or fraud likelihood? If so, how might you transform the type column to make this pattern usable by a machine learning model? Apply your data transformations (if any) in the code-block below.

Answer here

In [20]:
# Apply one-hot encoding to the 'type' column
transactions_encoded = pd.get_dummies(transactions, columns=['type'], prefix='type')

# Display the first few rows to verify
display(transactions_encoded.head())

# Save the transformed dataset (Optional) 
transactions_encoded.to_csv("../data/encoded_transactions.csv", index=False)

,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,type_CASH_IN,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
0,983.09,36730.24,35747.15,0.00,0.00,0,0,False,False,False,True,False
1,55215.25,99414.00,44198.75,0.00,0.00,0,0,False,False,False,True,False
2,220986.01,7773074.97,7994060.98,924031.48,703045.48,0,0,True,False,False,False,False
3,2357394.75,0.00,0.00,4202580.45,6559975.19,0,0,False,False,False,False,True
4,67990.14,0.00,0.00,625317.04,693307.19,0,0,False,True,False,False,False

Yes, certain transaction types differ significantly in both average amount and fraud likelihood. From the EDA, it was observed that fraudulent transactions mainly occured in the TRANSFER and CASH_OUT types, which also had the highest average amounts. Other types like PAYMENT, DEBIT, and CASH_IN showed little or no fraud. To help the model learn these patterns, I applied one-hot encoding to the type column, converting it into numeric format for better model compatibility.

## Q3

After exploring your data, you may have noticed that fraudulent transactions are rare compared to non-fraudulent ones. What challenges might this pose when training a machine learning model? What strategies could you use to ensure your model learns meaningful patterns from the minority class? Apply your data transformations (if any) in the code-block below.

Answer here

## Bonus (optional)

Are there interaction effects between variables (e.g., fraud and high amount and transaction type) that aren't captured directly in the dataset? Would it be helpful to manually engineer any new features that reflect these interactions? Apply your data transformations (if any) in the code-block below.

Answer Here

In [2]:
# write out newly transformed dataset to your folder
...